@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* theme dark */



.bg-dark{
  background-color:#141416; 
  /* background-color:#0e0e0f; */
}


.bg-dark-2{
  background-color: #18191d;
}


.text-black{
  color: #000;
}

.text-dark-gray{
  color: #3f4145;
}





/* theme light */

.bg-light{
  background-color: #fff;
}


.bg-light-2{
  background-color: #f7f7f7;
}



.text-light-gray{
  color: #9da3b3;
}

.text-white{
  color: #fefefe;
}


.bg-secondary{
  background: #212529;
}


.primary-bg{
 background: #6610f2;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'manrope',sans-serif;
  transition: .2s;
  
}







a{
    text-decoration: none;
 -webkit-tap-highlight-color: transparent !important;
}

li{
  list-style: none;
}

h1{
  font-weight: 800;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}


:root{
  --primary-color:#0d6efd;
  --primary-color-light:#0d6dfd0b;
  --bg-secondary:#25292d;
}






/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}


